<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>文章名稱</th>
        </tr>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
            <tr>
              <td><%= link_to topic.name, topic_path(topic) %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
